#gameContents {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    flex-wrap: wrap;
}
.card-pic {
    box-shadow: 0px 20px 20px -15px grey;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
@media (min-width: 700px) {
    .card-pic {
        height: 200px;
        width: 200px;
    }
}
@media (max-width: 700px) {
    #gameContents {
        width: 500px;
        justify-content: center;
    }
    .card-pic {
        margin-bottom: 20px;
        height: 150px;
        width: 150px;
    }
}